---
import AuctionCard from "@components/cards/AuctionCard.astro";

---

<section class="slider" id="sliderMarket">
    
</section>
<section class="slider-btn slider-btn-left" id="btnLeft">
    &#60;
</section>
<section class="slider-btn slider-btn-right" id="btnRight">
    &#62;
</section>


<style>

    .slider{
        width: 400%;
        display: flex;
        margin-left: -100%;
    }
    .slider-btn{
		position: absolute;
		height: 50px;
		width: 50px;
		background: #ff004c;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		padding: 1em;
		text-align: center;
		color: white;
	}
	.slider-btn:hover{
		background: #3b82f6;
	}
	.slider-btn-left{
		left: -25px; 
	}
	.slider-btn-right{
		right: -25px; 
	}
</style>

