.swiper {
    width: 100%;
    
  }
  
  .swiper-slide {
     
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 50%;
  }
  