---
import DashboardLayout from "@layouts/DashboardLayout.astro";

---

<DashboardLayout tittle="home">

	<main class="border border-red-500">
		<h1>asdasdasda</h1>
	</main>

</DashboardLayout>

<style>
	main{
		background-color: grey;
	}
</style>