.swiper-button-prev {
    filter: drop-shadow(0 5px black);
    --swiper-navigation-color: #ff004c;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev:active,
.swiper-button-next:active {
    transform: translateY(2px);
}

.swiper-button-next {
    filter: drop-shadow(0 5px black);
    --swiper-navigation-color: #3b82f6;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.slider-section {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    padding: 2em 0;
}

.slider-card {
    box-shadow: 0 0 20px black;
    margin: 0 auto;
    background: #090909cd;
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 2em;
    padding: 2em 2.5em;
    color: white;
    border-radius: 2em;
}

.slider-card-img {
    overflow: hidden;
    border-radius: 2em;
    box-shadow: 0 0 20px black;
}

.slider-card-img img {
    border-radius: 2em;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.slider-card-content {
    box-shadow: 0 0 20px black;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    padding: 2em 3em;
    background-color: #060606;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 2em;
    overflow: hidden;
}

.slider-card-content-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content-info-price {
    padding-right: 3em;
    border-right: 2px solid white;
}

.content-info-auction {
    padding-left: 2em;
}

.slider-card-content-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.slider-card-content-header-user {
    margin-top: 1em;
    width: 50%;
    display: flex;
    align-items: center;
}

.header-user-profile {
    width: 60px;
    height: 60px;
    padding: .1em;
    margin-right: 2em;
    position: relative;
}

.header-user-profile img {
    border: 3px solid white;
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    background-color: steelblue;

}

.header-user-profile svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.slider-card-buttons {
    border: 1px solid blueviolet;
}