.swiper-button-prev {
    filter: drop-shadow(0 5px  black);
    --swiper-navigation-color: #ff004c;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev:active, .swiper-button-next:active{
    transform: translateY(2px);
}
.swiper-button-next{
    filter: drop-shadow(0 5px  black);
    --swiper-navigation-color: #3b82f6;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.slider-section{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    
    
    padding: 2em .1em;
    
}

.card-content-info{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    
}
.card-content-info h1{
    font-size: 3em;
    text-align: left;
    
}

.content-info-user{
    width: 40%;
    
    display: flex;
    justify-content: space-between;

}

.card-content-info img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid white;
}

/* src/assets/images/Trending/trending_00.jpg */

.card{
    box-shadow: 0 0 20px black;
    margin: 0 auto;
    background: #090909bb;
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 2em;
    padding: 2em 2.5em;
    color: white;
    border-radius: 2em;
    overflow: hidden;
    
}
.card-img{
    
    height: 100%;       
    overflow: hidden; 
    border-radius: 2em;
    box-shadow: 0 0 20px black;
    
}   

.card-img img{
    
    border-radius: 2em;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.card-content{
    box-shadow: 0 0 20px black;
    height: 100%;
    display: grid;
    width: 100%;
    border-radius: 2em;
    padding: 2em 4em;
    background-color: #060606;
    place-items: center;
}
.card-content-button{
    
    padding: 2em 0;
}

.card-content-button{
    display: flex;
    align-items: center;
}

.card-content-button a{
    border: 1px solid white;
    padding: 1.5em 3em;
}