---

import Layout from "../layouts/Layout.astro";
import MarketSlider from "@components/react/AuctionCardSlide.jsx";
---
<Layout title="Market NFTs">
	<main class="main-slot">
		<section class="market-container market-business-card" >
			<MarketSlider client:load/>
		</section>
	</main>
	

    
</Layout>

<style>
	.market-container{
		margin: 1em auto 5em;
		width: 80%;
	}
	.market-business-card{
		border-radius: 2em ;
		overflow: hidden;
		color: #fff;
		position: relative;
		box-shadow: 0 0 50px black;
		border: 1px solid white;
	}
</style>