---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavMain from '../components/NavMain.astro';
import Footer from '../components/Footer.astro';
import ImageSlider from '../components/reactComponents/ImageSliders.jsx'
---

<Layout title="Welcome to NFTs">
	
	<NavMain/>
	<main >
		<section class="w-full h-[450px] mb-10 flex flex-row-reverse justify-between items-center">
			<section class="w-1/2 p-10 ">
				<h1>Welcome to <span class="text-gradient">NFT's</span></h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero at quia qui placeat quas aut iste perspiciatis suscipit expedita aperiam.
				</p>
			</section>

			<section class="w-1/2 py-5 h-full border overflow-hidden flex flex-row justify-center items-center">
				<ImageSlider client:load />
			</section>

		</section>

		<section class="w-full flex justify-between items-center">
			<section class="w-1/2 ">
				<h1>Welcome to <span class="text-gradient">Astro</span></h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero at quia qui placeat quas aut iste perspiciatis suscipit expedita aperiam.
				</p>
			</section>
			<section class="w-1/2">
				<ul role="list" class="link-card-grid">
					<Card
						src="../../public/img4.jpg"
						
					/>
				</ul>
			</section>
		</section>
	</main>
	
	<Footer/>
</Layout>

<style>
	main {
		
		padding: 2rem;
		width: 100%;
		
		color: white;
		font-size: 20px;
		line-height: 1.6;
		background: url('../../public/bg-image.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid{
		width: 100%;
		overflow: hidden;

	}
</style>
