---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavMain from '../components/NavMain.astro';
import Footer from '../components/Footer.astro';
import ImageSlide from '../components/reactComponents/ImageSlide';
import Button from '../components/Button.astro';

---

<Layout title="Welcome to NFTs">
	
	
	<main >
		<NavMain/>	
		<section class="container-main">
			
			
			<section class="container-main-content font-['Akira']">
				<h1>Welcome to Secure <span class="text-gradient">NFTs</span> Innovation</h1>
				<p class="font-['Aquire']">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero at quia qui placeat quas aut iste perspiciatis suscipit expedita aperiam.
				</p><br><br>
				<Button text='Get Started'/>
			</section>
		</section>

		<section class="slide">
			<section class="slide-image font-['Aquire']">
				<h1>Trending <span class="text-gradient">Top</span></h1>
				<ImageSlide client:visible />
			</section>
		</section>
		<section class="w-full h-auto flex xl:flex-row justify-between items-center sm:flex-col">
			<section class="xl:w-1/2 sm:w-full">
				<h1>Welcome to <span class="text-gradient">Astro</span></h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero at quia qui placeat quas aut iste perspiciatis suscipit expedita aperiam.
				</p>
			</section>
			<section class="xl:w-1/2">
				<ul role="list" class="link-card-grid">
					<Card
						src="../../public/img4.jpg"
					/>
				</ul>
			</section>
		</section>
	</main>
	
	<Footer/>
</Layout>

<style>
	
	p{
		color: white;
	}
	.slide{
		height: 700px;
		
		background-size: 80px;
		
		position: relative;
	}
	.slide::after{
		right: 0;		
		background: linear-gradient(to right,transparent, #000000);
	}
	.slide::before{
		left: 0;
		background: linear-gradient(to left,transparent, #000000);
	}
	.slide::after, .slide::before{
		content: "";
		position: absolute;
		height: 100%;
		width: 40%;
		z-index: 2;
		top: 0;
	}
	.slide-image{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		filter: drop-shadow(0 10px 20px black);
	}
	.container-main{
		background: url('../../public/background-Main.png');
		background-position: center;
		background-size: cover;

		width: 100%;
		height: 650px;
		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start; 
		
		position: relative;
		
	}
	.container-main::before{
		content: "";
		position: absolute;
		height: 100%;
		width: 90%;
		z-index: 1;
		top: 0;
		left: 0;
		background: linear-gradient(to left,transparent, #000000);
	}
	.container-main::after{
		content: "";
		position: absolute;
		height: 50%;
		width: 100%;
		z-index: 1;
		bottom: 0;
		background: linear-gradient(to bottom,transparent, #000000);

	}
	
	.container-main-content{
		
		z-index: 100;
		width: 50%;
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: 10px 100px;
	}
	


	


	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: .5em;
		letter-spacing: 3px;
		text-wrap: balance;
		filter: drop-shadow(0 0 10px black);
		color: white;
	}
	.text-gradient {
		background: linear-gradient(45deg, #ff004c 0%, #f0ff21 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100%;
		background-position: 0%;
		
	}
	.link-card-grid{
		width: 100%;
		overflow: hidden;

	}


</style>
