---
import Layout from "@layouts/Layout.astro";
import PricingCard from "@components/cards/PricingCard.astro"


const pricing = [
    {
        name: "Starter",
        price: "Gratis",
        popular: false,
        info: "Perfecto para principiantes",
        features: [
            "Crea y personaliza tu perfil.",
            "Guarda tus obras de arte favoritas.",
            "Explora una selección limitada.",
            "Participa de eventos gratuitos.",
            "Recibe noticias y actualizaciones sobre eventos.",
            "Acceso al foro comunitario.",
        ],
        button: {
            text: "Get Started",
            link: "/",
        },
        
    },
    {
        name: "Business",
        price: {
            monthly: "49",
            annual: "16",
            discount: "10%",
            original: "24",
        },
        popular: true,
        info: "For serious businesses",
        features: [
            "Explora todas las obras de arte en la plataforma.",
            "Participa en eventos exclusivos de nivel Business.",
            "Perfil de usuario con estadísticas y preferencias detalladas.",
            "Acceso a funcionalidades avanzadas.",
            "Crea y gestiona colecciones privadas de tus obras favoritas.",
            "Recibe recomendaciones personalizadas basadas en tus preferencias.",
            "Sesiones exclusivas de asesoramiento virtual."
        ],
        button: {
            text: "Get Started",
            link: "/",
        },
        
    },
    {
        name: "Enterprice",
        price: "Custom",
        popular: false,
        info: "Suitable for Enterprise solutions",
        features: [
            "Explora las obras de arte de ediciones exclusivas y especiales.",
            "Perfil de usuario VIP con características premium.",
            "Invitaciones a eventos VIP y prelanzamientos exclusivos.",
            "Gestión de colecciones corporativas para empresas e instituciones.",
            "Personalización avanzada para exhibiciones en espacios físicos y digitales.",
            "Asesoramiento especializado en inversiones en arte criptográfico.",
            "Acceso a informes de mercado y análisis de tendencias.",
            "articipación en sesiones exclusivas de feedback con el equipo de la plataforma.",
        ],
        button: {
            text: "Contact us",
            link: "/contact",
        },
        
    },
];
---
<Layout title="Pricing">
    <section class=" h-full mb-36 pt-28">
        <section class="text-center mt-26 ">
            <h1 class="text-center text-gradient">Pricing</h1>
            <p class="text-white text-3xl">Simple & Predictable pricing. No surprices.</p>
        </section>
        <section class="grid md:grid-cols-3 gap-16 m-[200px] max-w-screen-lg mt-28">
            {pricing.map((item) => <PricingCard plan={item}/>)}
        </section>
    </section>
</Layout>

