---
import Footer from "../components/Footer.astro";
import NavMain from "../components/NavMain.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Market NFTs">
    
    <main class="bg-[#12ff79]">
        <NavMain/>    
        <section class="w-full h-[450px] flex justify-between items-center">
			<section class="w-1/2 ">
				<h1>Welcome to <span class="text-gradient">Astro</span></h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero at quia qui placeat quas aut iste perspiciatis suscipit expedita aperiam.
				</p>
			</section>
			<section class="w-1/2">
			asdas		
			</section>
    </main>
    <Footer/>
</Layout>