---
import DashboardLayout from "@layouts/DashboardLayout.astro";

---

<DashboardLayout tittle="home">
	<main>
		<section class="border border-cyan-500 rounded-2xl "></section>
		<section class="border border-cyan-500 rounded-2xl "></section>
		<section class="border border-cyan-500 rounded-2xl "></section>
		<section class="border border-cyan-500 rounded-2xl "></section>
		<section class="border border-cyan-500 rounded-2xl "></section>
	</main>
</DashboardLayout>

<style>
	main{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 2em;
		
	}
</style>