---
import Layout from '@layouts/Layout.astro';
import Button from '@components/ui/Button.astro';
 
import video1 from "/public/video/vid2.mp4";
import video2 from "/public/video/vid3.mp4";
---

<Layout title="Welcome to Crypto Art">
	<main>
		<section class="container-main">
			<section class="main-content">
				<h1>Libera tu creatividad con el <span class="text-gradient">Arte Criptografico.</span></h1>
				<p>
					Su puerta de entrada a la elaboración, exhibición y 
					comercialización NFT únicos con confianza.
				</p>
				
			</section>
		</section>

		<section class="container-benefits">
			<section class="container-benefit-content">
				<h1>Crea tus <span class="text-gradient">NFTs</span> sin <span class="text-gradient">problemas.</span></h1>

				<p>Transforme su arte en tesoros digitales sin esfuerzo en nuestro plataforma. Abrace el futuro de las NFT con una creación fácil de usar Herramientas diseñadas para cada creador.</p>

				<section class="benefit-content-buttons">
					<Button text='Get Started'/>
					<Button text='Get Started'/>
				</section>	
				
			</section>

			<section class="container-benefit-image">
				<video src={video1} loop autoplay muted />
			</section>
		</section>
		
		<section class="container-benefits">
			<section class="container-benefit-content">
				<h1>Expande tu collecion con <span class="text-gradient">Facilidad</span></h1>
				<p>
					¿Ya tienes NFTs? Dales vida en nuestra plataforma sin 
					esfuerzo cargar y mostrar sus joyas digitales existentes. 
					Su colección, a tu manera.</p>
				<section class="benefit-content-buttons">
					<Button text='Get Started'/>
					<Button text='Get Started'/>
				</section>	

			</section>
			<section class="container-benefit-image">
				<video src={video2} loop autoplay muted />
			</section>
		</section>



		
	</main>
</Layout>

<style>
	main{
		width: 100%;
		padding: none;
	}
	h1 {
		font-family: 'Akira', sans-serif;
		font-size: 4rem;
		line-height: 1;
		font-weight: 700;
		text-align: left;
		filter: drop-shadow(0 0 10px black);
		color: white;
		text-wrap: balance;
	}
	p{
		color: white;
		font-size: 1.5em;
		font-family: 'OliviarSansLg', sans-serif;
		text-wrap: balance;
	}
	/* Container Main */
	.container-main{
		background: url('../assets/images/Background/bg-Main.webp');
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 650px;
		position: relative;
		padding: 150px 0 50px;
		display: grid;
		grid-template-columns: 3.5fr 1fr;
	}
	.container-main::before, .container-main::after{
		content: "";
		position: absolute;
		z-index: 1;
	}
	.container-main::before{
		height: 100%;
		width: 70%;
		top: 0;
		left: 0;
		background: linear-gradient(to left,transparent, #000000);
	}
	.container-main::after{
		height: 40%;
		width: 100%;
		bottom: 0;
		background: linear-gradient(to bottom,transparent, #000000);
	}
	.main-content{
		z-index: 100;
		width: 70%;
		margin: 0 auto;
		padding: 1em;		
	}

	/* Container Benefits */
	.container-benefits{
		
		width: 80%;
		height: 550px;
		
		display: grid;
		margin: 2em auto 4em;
		gap:3em;
		overflow: hidden;
		
	}
	.container-benefits:nth-child(odd){
		grid-template-columns: 2fr 1fr;
	}
	.container-benefits:nth-child(even){
		grid-template-columns:1fr 2fr;	
	}
	.container-benefits:nth-child(odd) .container-benefit-image:nth-child(odd){
		order:-1;		
	}
	.container-benefits:nth-child(even) .container-benefit-image:nth-child(even){
		order:-1;	
	}
	.container-benefit-content {
		height: 100%;
		
		display: grid;
		place-items: center;
		grid-template-rows: 1fr .5fr 1fr;
		
		gap: 2em;
	}

	.container-benefit-content > h1 {
		align-self: self-end;
	}

	.benefit-content-buttons{
		display: flex;
	}

	.container-benefit-image{
		height: 100%;
		width: 100%;		
		border-radius: 2em;
		z-index: 10;
		overflow:hidden;
	}	

	.container-benefit-image video{
		height: 100%;
		width: 100%;	
		object-fit: cover;
		object-position: center;	
		
	}


	
</style>
