---
import {Image} from 'astro:assets';
import logo from '@assets/images/logo.webp'
---
<footer class=" w-full pt-8 px-8 text-white" transition:animate="none" >
    <hr>
    <section class="w-[90%] flex justify-between items-center my-[1em] mx-auto">
        <section class="w-[40%] flex  flex-col justify-center items-center">

            <section class="logo-footer">
                <Image src={logo} alt="logo" />
            </section>
            <section class="flex flex-row justify-evenly w-full ">
                <!-- Facebook -->
                <a href="#">
                    <svg class="social-networks facebook" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <defs>
                            <linearGradient id="fb-gradient" gradientUnits="userSpaceOnUse" fy="90%" >
                                <stop  offset="0" style="stop-color:#3fc3da"/>
                                <stop  offset="1" style="stop-color:#1e5fe0"/>
                                <animate attributeName="fy"from="0" to="1" dur="5s" repeatCount="indefinite" />
                            </linearGradient>
                        </defs>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z" />
                        <path d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z" />
                    </svg>
                </a>
                <!-- Instagram -->
                <a href="#">
                    <svg class="social-networks instagram" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <defs>
                            <linearGradient id="ig-gradient" gradientUnits="userSpaceOnUse" fy="90%" >
                                <stop  offset="0" style="stop-color:#ff0080"/>
                                <stop  offset="1" style="stop-color:#ffe100"/>
                                <animate attributeName="fy"from="0" to="1" dur="5s" repeatCount="indefinite" />
                            </linearGradient>
                        </defs>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                    </svg>
                </a>
                <!-- Twitter -->
                <a href="#">
                    <svg class="social-networks twitter" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <defs>
                            <linearGradient id="tw-gradient" gradientUnits="userSpaceOnUse" fy="90%" >
                                <stop  offset="0" style="stop-color:#0a2557"/>
                                <stop  offset="1" style="stop-color:#fff"/>
                                <animate attributeName="fy"from="0" to="1" dur="5s" repeatCount="indefinite" />
                            </linearGradient>
                        </defs>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                    </svg>
                </a>
                <!-- Discord -->
                <a href="#">
                    <svg class="social-networks discord" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <defs>
                            <linearGradient id="dc-gradient" gradientUnits="userSpaceOnUse" fy="90%" >
                                <stop  offset="0" style="stop-color:#380a57"/>
                                <stop  offset="1" style="stop-color:#7f1ee0"/>
                                <animate attributeName="fy" from="0" to="1" dur="5s" repeatCount="indefinite" />
                            </linearGradient>
                        </defs>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                        <path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                        <path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3" />
                        <path d="M7 16.5c3.5 1 6.5 1 10 0" />
                    </svg>
                </a>
            </section>
        </section>
        <section class="w-full  flex flex-row justify-around items-start">
            <section>
                <ul>
                    <li class="footer-tittle">
                        Explorar
                    </li>
                    <li class="footer-content py-1">
                        <a href="/explore">Explorar</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="#subasta">Subasta de Arte</a>
                    </li>
                    
                    <li class="footer-content py-1">
                        <a href="#topCreator">Top Creadores</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="#topArt">Arte Top</a>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li class="footer-tittle">
                        Otros
                    </li>
                    <li class="footer-content py-1">
                        <a href="/login">Login</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="/about">Acerca de Nosotros</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="/pricing">Precios</a>
                    </li>
                </ul>
            </section>    
            <section>
                <ul>
                    <li class="footer-tittle">
                        Contact
                    </li>
                    <li class="footer-content py-1">
                        <a href="/">help@andev.corp</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="/">+123 456 789 00</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="/">Self support</a>
                    </li>
                    <li class="footer-content py-1">
                        <a href="/">Customer support</a>
                    </li>
                </ul>
            </section>
        </section>
    </section>
    <hr>
    <p class="py-5 text-center font-bold tracking-[.3em]">Web Warriors 2023 &copy;</p>
</footer>

<style>
    .footer-tittle{
        font-weight: bold;
        letter-spacing: .2em;
        padding: 1rem 0 1.5rem 0;
    }
    .footer-content{
        color: gray;
        padding: 0.25rem 0;
    }
    .footer-content:hover{
        cursor: pointer;
        color: white;
    }

    .social-networks{
      height: 44px;
      stroke: gray;
      transition: .4s ease;
    }

    .social-networks:hover{
        cursor: pointer;
        transform: scale(1.3);
        stroke: url(#gradient);

    }

    .logo-footer{        
        width: 100px;
        height: 100px;
    }

    .facebook:hover{
        stroke: url(#fb-gradient);
    }
    .instagram:hover{
        stroke: url(#ig-gradient);
    }
    .twitter:hover{
        stroke: url(#tw-gradient);
    }
    .discord:hover{
        stroke: url(#dc-gradient);
    }

</style>