---
import Button from "@components/Button.astro";
import { Image } from "astro:assets";
import logo from "@assets/images/logo.webp";
---

<nav class="navbar" transition:animate="none">
    <section class="navbar-container">
        <a href="/" class="navbar-logo">
            <Image src={logo} alt="logo" class="img" />
        </a>
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>

        <section class="navbar-buttons">
            <Button text="Log In" />
        </section>
    </section>
</nav>

<style>
    .navbar {
        width: 100%;
        padding: 1em 0;
        position: fixed;
        z-index: 1000;
        backdrop-filter: blur(1em);
    }
    .navbar-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.5fr 3fr 1fr;
        gap: 3em;
        color: white;
    }
    .navbar a.navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
    }

    .navbar-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        place-items: center;
    }
    li {
        width: 100%;
        height: 90%;
    }
    li,
    li a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li a {
        width: 90%;
        height: 100%;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        transition: color 0.5s;
    }
    li a:hover {
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-primary);
    }
</style>
