---
import Button from "./Button.astro";
---
<nav class="bg-[#1c1c1c] w-full h-24 flex justify-around items-center fixed top-0 z-[100000] backdrop-blur-md dark:bg-transparent page-scrolling " transition:animate="none">
    <section class="text-white">
        Andev Soft
    </section>
    <section class="w-1/2 h-10 flex justify-center items-center  ">
        <ul class="w-full   flex justify-evenly items-center text-white">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/marketMain">
                    Market
                </a>
            </li>
            <li>
                <a href="/discoverMain">
                    Dicover
                </a>
            </li>
            <li>
                <a href="/resourceMain">
                    Resoures
                </a>
            </li>
            <li>
                <a href="/walletMain">
                    Wallet
                </a>
            </li>
            
        </ul>
    </section>
    <section>
        <Button text="Get Started" />
    </section>
</nav>

<style>
    .page-scrolling{
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, rgb(0,0,0) 1rem);
    }

    a{
        padding: 2px 5px;
        letter-spacing: .2em;
    }

    a:hover{
        border-bottom: 2px ;
        color: #ff004c;
        border-bottom-color: #ff004c;
    }

</style>