---
import Button from "./ui/Button.astro";
import {Image} from 'astro:assets';
import logo from '@assets/images/ArtFLow-Logo.webp'

---
<nav class="navbar">
    <a href="/" class="navbar-logo">
        <Image src={logo} alt="logo" />
        
    </a>
    <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pricing">Pricing</a></li>
    </ul>
    
    <section class="navbar-buttons">
        <Button text='Register'/>
    </section>
</nav>

<style>
    .navbar{        
        margin: 0 auto;
        width: 100%;
        padding: .5em 6em;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 2em;
        position: fixed;
        top: 0;
        z-index: 100000;
        backdrop-filter: blur(1em);
        color: white;
    }
    
    a img{
        height: 60px;
    }

    .navbar-buttons{
        border: 1px solid salmon;
    }
    .navbar-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        place-items: center;

    }

    li{
        width: 80%;
        height: 90%;
    }
    li, li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li a{
        width: 100%;
        height: 100%;
    }
    li:hover a{
        border-bottom: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    
</style>

