---
import Button from "./Button.astro";
---
<nav class="bg-[#1c1c1c] w-full h-24 flex justify-around items-center sticky top-0 z-10 backdrop-blur-md dark:bg-transparent page-scrolling " transition:animate="none">
    <section class="text-white">
        Andev Soft
    </section>
    <section class="w-1/2 h-10 flex justify-center items-center  ">
        <ul class="w-full   flex justify-evenly items-center text-white">
            <li>
                <a class="px-5 py-2 tracking-[.2em] hover:border-b-2 hover:text-[#33fcb9] hover:border-b-[#33fcb9]" href="/">
                    Home
                </a>
            </li>
            <li>
                <a class="px-5 py-2 tracking-[.2em] hover:border-b-2 hover:text-[#33fcb9] hover:border-b-[#33fcb9]" href="/explore">
                    Explore
                </a>
            </li>
            <li>
                <a class="px-5 py-2 tracking-[.2em] hover:border-b-2 hover:text-[#33fcb9] hover:border-b-[#33fcb9]" href="/market">
                    Market
                </a>
            </li>
        </ul>
    </section>
    <section>
        <Button text="Get Started" />
        
    </section>
</nav>

<style>
    .page-scrolling{
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, rgb(0,0,0) 1rem);
    }
</style>