---
interface Props {
	src: string;
    name: string;
    avatar: string;
    price: string;
}

const { src, name, avatar, price} = Astro.props;

---

<section class="widget-card">
    <section class="widget-card-tittle">
        <img class="avatar" src={avatar} alt="avatar">
        <section>
            <p>@{name}</p>    
            <p class="widget-card-price">
                <svg 
                    id="Layer_1" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 133.7 220.5" 
                    width="1213" 
                    height="2000"   
                >
                    <path 
                        class="st0" 
                        d="M2.4 98.8l65-27.4 63 28.1L67.3 0zm.2 30.4l64.9 37.6 66.2-37.6-65.6 91.3z"
                    />
                    <path class="st0" d="M67.7 84.8L0 113.3l67.7 37.6 65.8-36.8z"/>
                </svg>
                {price} ETH
            </p>
        </section>
    </section>
    <img class="nft-image" src={src} alt='nft'>
</section>

<style>
    :root{
        --color-eth: #52fff1;
    }
    
    .widget-card{
        width: 300px;
        height: 450px;
        border-radius: 1.5em;
        
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    .widget-card::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(to bottom, transparent, #091e31) ;
    }

    .widget-card-tittle{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        height: 20%;
        width: 100%;
        padding: 10px;
        backdrop-filter: blur(.2em);
        

    }

    
    .widget-card-tittle .avatar{
        width: 3em;
        height: 3em;
        margin: 0 10px;
        background-color: #eeff00;
        border-radius: 50%;
        border: 2px solid white;
        filter: drop-shadow(0 0 10px black);           
    }
    
    .widget-card-price{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--color-eth);
        font-weight: bold;
    }
    .widget-card-price svg{
        width: 1.5em;
        height: 1.5em;
        fill: var(--color-eth);
        filter: drop-shadow(0 0 10px black);
        
        
    }

    .widget-card .nft-image{
        width: 300px;
        height: 450px;
        object-fit: cover;
        object-position: center;
    }



</style>