---
import NavBar from '@components/dashboad/NavBar.astro';
import SideBar from '@components/dashboad/SideBar.astro'

interface Props{
    tittle: string;
}
const { tittle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{tittle}</title>
    </head>
    <body>

        <header>
            <NavBar />
        </header>
        <aside >
            <SideBar userName='And3v'/>
        </aside>
        <main>
            <slot/>
        </main>
        <nav >
            
        </nav>

    </body>
</html>

<style>
    
    body{
        
        height: 100vh;
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: 50px 1fr;
        row-gap: .5em;
        column-gap: 1em;
        
        padding: 1em;
        background: #151515;
    }

    header{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

    }
    nav{
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    aside{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        height: 95vh;
        width: 200px;
        position: fixed;
        top: 1em;
        bottom: 0;
        box-sizing: border-box;
    }
    main{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;

    }


    

</style>